@import url("https://fonts.googleapis.com/css2?family=Baloo+Chettan+2&family=Calligraffitti&display=swap");

h1 {
  font-family: "La Belle Aurore";
}

html {
  height: 100%;
}

label {
  font-family: "La Belle Aurore";
}
